*{
    background-color: antiquewhite;
    padding: 10%;
    margin: 2%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
}
ul{
    background-color: teal;
    font-size: 40px;
    width: 400px;
    color: white;
    border-radius: 30px;
    padding: 02%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    margin: 10px;
    background-color: rgb(140, 123, 140);
    list-style-position: inside;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px;
    width: 90%;
    

}