input:checked + .slider {
    background-color: #0fbcf9;
}
input:checked + .slider::before{
    transform: translateX(26px);
}
.slider:after {
    /* content: ; */
    position: absolute;
    left: 4px;
    top: 46%;
    transform: translateY(-50%);
    font-size: 18px;
    opacity: 1;
    transition: 0.4s;
}
input:checked + .slider:after {
    /* content: ; */
    left: 31px;
    top: 16px;
    opacity: 1;
}